%head
  %title Таблица дел
  %link(href="/css/style.css" rel="stylesheet")
  %link(href="/css/bootstrap.min.scss" rel="stylesheet")
  %meta(name="viewport" content="width=device-width, initial-scale=1")
%body
  .container
    .row.block-header
      .skobileft.skobki
        %img.skoba1(src=@skoba)
        %img.skoba2(src=@skoba)
        %img.skoba3(src=@skoba)
      %h1 TODO book
      .skobiright.skobki
        %img.skoba1(src=@skoba)
        %img.skoba2(src=@skoba)
        %img.skoba3(src=@skoba)
    .row.block-main
      - t = DateTime.now
      %h1= t.strftime("%a, %e %B %Y")
      .row.th
        .col-md-1 id
        .col-md-5 title
        .col-md-4 term
      - @todos.each do |todo|
        .row
          .col-md-1= todo.id
          .col-md-5= todo.title
          .col-md-4= todo.term.nil? ? 'infinity' : todo.term.strftime("%a, %e %B %Y")
          .col-md-1
            %a(type="button" data-toggle="modal" data-target=".bs-example-modal-md") Delete
            .modal.fade.bs-example-modal-md(tabindex="-1" role="dialog")
              .modal-dialog.modal-md(role="document")
                .modal-content
                  .modal-header
                    %h3 Are you sure you want to delete the record?
                  .modal-body
                    %p If you delete the record, cancel the action will be impossible!
                  .modal-footer
                    %a(data-dismiss="modal") Close
                    %a(href="/todo_delete/#{todo.id}") Delete
          .col-md-1
            %a(href="/todo_edit/#{todo.id}") Edit
  %script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
  %script(src="/bootstrap-sass-3.3.7/assets/javascripts/bootstrap.min.js")